<section class='dark:bg-slate-800 bg-white rounded-md px-8 py-6 border border-gray-300 dark:border-gray-700 mb-7'>
  <%= form_with(model: [@restaurant, @order, @item], local: true, data: { turbo: false }, html: { multipart: true }) do |f| %>
    <% if @item.errors.any? %>
      <div class='error-alert'>
        <h2 class='font-semibold'>The form contain <%= pluralize(@item.errors.count, 'error') %></h2>
        <ul class='list-disc p-4'>
          <% @item.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <% if @restaurant.dishes.any? %>
      <h2 class='heading-2 mb-4'>Items</h2>
      <%= f.label :dish_id, class: 'font-medium dark:text-white text-gray-700' %>
      <%= f.select :dish_id, options_for_select(@restaurant.dishes.map { |dish| [dish.name, dish.id] }), {}, class: 'block w-full rounded border-slate-200 dark:border-slate-700 w-full mb-4 mt-2 text-black dark:bg-slate-900 dark:text-white' %>
      <% if @selected_dish %>
        <%= f.hidden_field :price, value: @selected_dish.price %>
      <% end %>
    <% else %>
      <p class='font-medium text-center'>No dishes available to add to this order.
      <%= link_to 'Create a new dish', new_restaurant_dish_path(@restaurant), class: 'underline' %>
      </p>
    <% end %>

    <div class='flex justify-between items-center'>
      <%= link_to '&larr; Back'.html_safe, restaurant_path(@restaurant), class: 'text-blue-600 dark:text-sky-500 hover:underline' %>
      <%= f.submit "#{action_name == 'new' ? 'Create' : 'Update'}", class: 'bg-slate-900 hover:bg-slate-700 dark:bg-sky-500 py-2 px-4 rounded-md dark:hover:bg-sky-400 cursor-pointer transition text-white font-semibold' %>
    </div>
  <% end %>
</section>
