<!DOCTYPE html>
<html lang="en">
  <head>
    <title>RestaurantApp - <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="min-h-screen antialiased dark:bg-gradient-to-b bg-slate-50 dark:from-slate-950 dark:to-slate-900 dark:text-white">
    <header>
      <nav class="max-w-screen-xl flex items-center justify-between mx-auto py-3 px-8 lg:px-20">
        <a href="/" class="text-2xl font-semibold whitespace-nowrap">Restaurant App</a>
        <div class="flex items-center md:hidden">
          <button type="button" class="menu-button ml-3 text-gray-500 rounded-lg md:hidden hover:bg-slate-100 focus:outline-none focus:ring-2 focus:ring-slate-200 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-gray-600">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-7 h-7">
              <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
            </svg>
          </button>
        </div>
        <div class="menu-list hidden md:block md:w-auto">
          <ul class="font-semibold flex items-center">
            <a href="#" class="px-2">
              <li class="px-4 hover:bg-slate-200 dark:hover:bg-slate-900 py-2 rounded-md transition">Restaurants</li>
            </a>
            <a href="#" class="px-2">
              <li class="px-4 hover:bg-slate-200 dark:hover:bg-slate-900 py-2 rounded-md transition">Dishes</li>
            </a>
            <a href="#" class="px-2">
              <li class="px-4 hover:bg-slate-200 dark:hover:bg-slate-900 py-2 rounded-md transition">Orders</li>
            </a>
          </ul>
        </div>
      </nav>
    </header>
    <main class="max-w-screen-xl mx-auto mt-16 px-8 lg:px-20">
      <%= yield %>
    </main>
  </body>
</html>
