<!DOCTYPE html>
<html>
  <head>
    <title>RestaurantApp - <%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application.tailwind", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body class="h-screen antialiased bg-gradient-to-b from-slate-300 to-slate-100 dark:from-slate-950 dark:to-slate-900 dark:text-white">
    <header>
      <nav class="max-w-screen-xl flex items-center justify-between mx-auto py-3 px-8 lg:px-20">
        <a href="/" class="flex items-center">
          <span class="text-2xl font-semibold">Restaurant App</span>
        </a>
        <div class="w-full md:block md:w-auto">
          <ul class="font-semibold flex items-center">
            <a href="#" class="px-2">
              <li class="px-4 hover:bg-slate-200 dark:hover:bg-slate-900 py-2 rounded-md transition">Restaurants</li>
            </a>
            <a href="#" class="px-2">
              <li class="px-4 hover:bg-slate-200 dark:hover:bg-slate-900 py-2 rounded-md transition">Dishes</li>
            </a>
            <a href="#" class="px-2">
              <li class="px-4 hover:bg-slate-200 dark:hover:bg-slate-900 py-2 rounded-md transition">Orders</li>
            </a>
          </ul>
        </div>
      </nav>
    </header>
    <main class="max-w-screen-xl mx-auto mt-16 px-8 lg:px-20">
      <%= yield %>
    </main>
  </body>
</html>
