<!DOCTYPE html>
<html lang='en'>
  <head>
    <title>RestaurantApp - <%= yield(:title) %></title>
    <meta name='viewport' content='width=device-width,initial-scale=1'>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>

    <%= stylesheet_link_tag 'application.tailwind', 'data-turbo-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbo-track': 'reload', defer: true %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class='min-h-screen antialiased dark:bg-slate-950 dark:text-white'>
    <%= render 'layouts/nav' %>

    <main class='max-w-screen-xl mx-auto mt-16 px-8 lg:px-20'>
      <%= yield %>
    </main>
  </body>
</html>
